# Косов Денис Владимирович
## BD-11

1. Импортировать необходимые библиотеки для работы с данными (pandas). --- **0.1**

In [122]:
import pandas as pd
import numpy as np

2. Импортировать датасет из файла 'restaurants.csv' и присвоить его переменной (например, переменной df). --- **0.1**

In [123]:
df = pd.read_csv('restaurants.csv', sep = ',')

3. Вывести первые 10 строк датафрейма. Изучить структуру таблицы. --- **0.1** Затем вывести типы колонок датафрейма. --- **0.1**

In [124]:
df.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

In [125]:
df.columns

Index(['vendor_id', 'chain_id', 'city_name', 'specialisation',
       'successful_orders', 'fail_orders', 'reorders'],
      dtype='object')

vendor_id - уникальный идентификатор ресторана

chain_id - уникальный идентификатор сети, в которую входит ресторан

successful_orders - кол-во успешных заказов

fail_orders - кол-во неуспешных заказов

reorders - перезаказы

4. Сколько наблюдений в датафрейме (воспользоваться методом shape)? --- **0.1**

In [126]:
df.shape

(784, 7)

5. Сколько колонок в датафрейме?  --- **0.1** Вывести их имена. --- **0.1** Удалить колонку с названием "chain_id" (соледующие задания должны быть выполнены без этой колонки). --- **0.2**

In [127]:
len(df.columns)

7

In [128]:
for i in df.columns:
    print(i)

vendor_id
chain_id
city_name
specialisation
successful_orders
fail_orders
reorders

In [129]:
df = df.drop("chain_id", 1)

6. Сколько уникальных городов в датафрейме? --- **0.4**

In [130]:
cit = set()
for i in df['city_name']:
    cit.add(i)
len(cit)

63

7. Кол-во ресторанов каждой специализации? --- **0.3**

In [131]:
df.specialisation.value_counts()

Суши                   329
Пицца                  179
Бургеры                 69
Шашлыки                 37
Рыба                    30
Японская                21
Пироги                  17
Русская                 15
Мясо                    14
Китайская               10
Супы                     8
Шаурма                   8
Сэндвичи                 6
Индийская                5
Десерты                  5
Грузинская               5
Выпечка                  5
Фастфуд                  4
Паста и ризотто          4
Итальянская              3
Паназиатская             2
Узбекская                2
Хот-доги                 2
Мексиканская             1
Вегетарианское меню      1
Гирос                    1
Корейская                1
Name: specialisation, dtype: int64

8. Получить среднее и стандартное отклонение по всему датафрейму только по колонкам successful_orders и fail_orders. --- **0.7**

In [132]:
tmp = df[['successful_orders', 'fail_orders']].describe()

In [133]:
tmp.loc[['std', 'mean']]

      successful_orders  fail_orders
std          176.792621     5.361445
mean         115.344388     2.576531

In [134]:
df.head()

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,Архангельск,Супы,0.0,2.0,0.0
1,37381,Архангельск,Пироги,0.0,0.0,0.0
2,28703,Архангельск,Суши,111.0,3.0,0.0
3,37382,Архангельск,Пироги,1.0,0.0,0.0
4,36877,Архангельск,Бургеры,22.0,2.0,0.0

9. Вывести 10 городов с самым маленьким количеством ресторанов, а также кол-во ресторанов в них. --- **0.5**

In [135]:
df.city_name.value_counts().tail(10)

Череповец         9
Магнитогорск      8
Петрозаводск      7
Архангельск       6
Новокузнецк       5
Стерлитамак       3
Йошкар-Ола        3
Егорьевск         3
Вологда           3
Ханты-Мансийск    2
Name: city_name, dtype: int64

10. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20. --- **0.4**

In [136]:
df[df['fail_orders'] >20]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
95,24121,Волгоград,Пицца,445.0,24.0,25.0
145,33976,Екатеринбург,Суши,327.0,46.0,65.0
267,6520,Краснодар,Суши,1300.0,70.0,65.0
372,22211,Нижний Новгород,Суши,79.0,29.0,20.0
420,24126,Орел,Пицца,482.0,33.0,27.0
422,16157,Орел,Бургеры,506.0,25.0,31.0
511,20935,Самара,Пицца,1298.0,63.0,44.0
516,12235,Самара,Суши,779.0,32.0,51.0
543,5469,Саратов,Суши,617.0,28.0,26.0
656,25369,Тула,Пицца,205.0,38.0,18.0

11. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20 и успешных заказов (successful_orders) меньше 500, рестораны только из города Тула. --- **0.5**

In [137]:
df[(df['fail_orders'] >20) & (df['successful_orders']<500) & (df['city_name'] == 'Тула')]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
656,25369,Тула,Пицца,205.0,38.0,18.0

12. Среднее кол-во успешных заказов по специализациям. --- **0.6**

In [138]:
df.groupby(by = 'city_name')['successful_orders'].mean()

city_name
Архангельск          22.833333
Астрахань           104.571429
Барнаул             117.142857
Белгород            203.500000
Брянск              234.500000
Владивосток          44.857143
Владимир             51.500000
Волгоград           113.857143
Волжский            150.142857
Вологда              11.333333
Воронеж              76.857143
Егорьевск             4.000000
Екатеринбург        116.928571
Иваново              16.000000
Ижевск              101.428571
Иркутск              93.785714
Йошкар-Ола           19.666667
Казань              120.357143
Калининград          53.071429
Калуга               91.000000
Кемерово             71.357143
Кострома             26.571429
Краснодар           183.428571
Красноярск           63.214286
Курск               195.214286
Липецк              135.500000
Магнитогорск         26.875000
Москва              121.571429
Набережные Челны     70.000000
Нижневартовск        73.142857
                       ...
Омск                 60.142857
Орел                223.785714
Оренбург            230.785714
Пенза               123.500000
Пермь                91.142857
Петрозаводск         80.857143
Ростов-на-Дону      160.500000
Рязань              289.857143
Самара              201.642857
Санкт-Петербург     138.000000
Саратов             194.642857
Смоленск             75.285714
Сочи                104.000000
Ставрополь          106.000000
Стерлитамак          14.666667
Сургут               44.571429
Тверь               167.928571
Тольятти            165.214286
Томск                48.357143
Тула                206.785714
Тюмень              122.928571
Ульяновск            52.571429
Уфа                 236.714286
Хабаровск            68.142857
Ханты-Мансийск       13.000000
Чебоксары            56.090909
Челябинск            80.642857
Череповец            40.777778
Энгельс             150.571429
Ярославль           149.357143
Name: successful_orders, Length: 63, dtype: float64

13. Рестораны какой специализации имеют самую высокую долю неуспешных заказов? Также посчитать эту долю (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов). --- **1.0**

In [139]:
tmp = df.groupby(by = 'specialisation')['successful_orders', 'fail_orders', 'reorders'].agg(np.sum)

In [140]:
tmp['proportion'] = tmp.fail_orders/(tmp.successful_orders+tmp.fail_orders+tmp.reorders)

In [141]:
tmp[tmp.proportion == max(tmp.proportion)]

                     successful_orders  fail_orders  reorders  proportion
specialisation
Вегетарианское меню               12.0          7.0       4.0    0.304348

14. Для каждой специализации рассчитать минимальное и максимальное кол-во успешных заказов. --- **0.7**

In [142]:
df.groupby(by = 'specialisation')['successful_orders'].agg([np.min, np.max])

                      amin    amax
specialisation
Бургеры                0.0   506.0
Вегетарианское меню   12.0    12.0
Выпечка                3.0    24.0
Гирос                682.0   682.0
Грузинская             3.0   131.0
Десерты                0.0    22.0
Индийская              0.0    75.0
Итальянская            3.0   112.0
Китайская              6.0   355.0
Корейская              9.0     9.0
Мексиканская          33.0    33.0
Мясо                   1.0   179.0
Паназиатская           1.0    38.0
Паста и ризотто       11.0    66.0
Пироги                 0.0   185.0
Пицца                  0.0  1644.0
Русская                0.0   919.0
Рыба                   0.0   315.0
Супы                   0.0   480.0
Суши                   0.0  1401.0
Сэндвичи               0.0   241.0
Узбекская              6.0    25.0
Фастфуд                2.0    66.0
Хот-доги               4.0     5.0
Шаурма                 0.0    93.0
Шашлыки                0.0   323.0
Японская               4.0   461.0

15. Рассчитать среднее кол-во успешных заказов по каждой специализации в городах Белгород и Уфа. --- **0.9**

In [143]:
df[(df.city_name == 'Белгород') | (df.city_name == 'Уфа')].groupby('specialisation')['successful_orders'].agg(np.mean)

specialisation
Бургеры     105.000000
Мясо          2.000000
Пироги       18.000000
Пицца       313.000000
Русская     158.000000
Суши        266.777778
Шаурма        0.000000
Шашлыки     153.666667
Японская    183.000000
Name: successful_orders, dtype: float64

16. Импортировать таблицу "restaurant_scores.csv". В исходную таблицу добавить новый столбец "model_score" из таблицы "restaurant_scores", соединив таблицы по restaurant_scores.vendor_id = model_score.id. Вывести первые 5 строк получившейся таблицы. --- **0.8**

In [144]:
new_df = pd.read_csv('restaurant_scores.csv', sep = ',')

In [145]:
df1 = pd.merge(df, new_df, left_on='vendor_id', right_on = 'id')

In [146]:
df1.head(5)

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders,id,model_score
0,28957,Архангельск,Супы,0.0,2.0,0.0,28957,0.421871
1,37381,Архангельск,Пироги,0.0,0.0,0.0,37381,0.386503
2,28703,Архангельск,Суши,111.0,3.0,0.0,28703,0.664808
3,37382,Архангельск,Пироги,1.0,0.0,0.0,37382,0.838883
4,36877,Архангельск,Бургеры,22.0,2.0,0.0,36877,0.176469

18. Итоговую таблицу сохранить на жестком диске в формате 'csv'. --- **0.3**

In [120]:
df1.to_csv('new.csv', index = False)

### Каждые 1.5 поинта - 1 балл.